<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>bys</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/style.css"/>
</head>
<body>
<main class="container">
    <h1><a class="header-link" href="/">BYS</a>: bymse's url shortener </h1>
    <h3>with nonexistent cats</h3>
    <div class="content">
        {% if short_url %}
            <p>Short url: <a id="short-url" class="link" target="_blank" href="{{ short_url }}">{{ short_url }}</a>
                <button class="button" id="copy-button">Copy</button>
            </p>
            <p>for <a class="link" target="_blank" href="{{ form.url.data }}">{{ form.url.data }}</a></p>
        {% else %}
            <form class="url-form" method="post" action="/">
                {{ form.csrf_token }}
                {{ form.url(
                            placeholder="https://exmaple.com",
                            pattern="https?://.*",
                            class=("url-input" + (" errored" if form.url.errors else ""))
                            ) }}
                <button type="submit" class="button submit-button">
                    Create short url
                </button>
                {% if form.url.errors %}
                    <ul class="errors">
                        {% for error in form.url.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </form>
        {% endif %}
    </div>
</main>
<script async src="/static/script.js"></script>
</body>
</html>
