<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="UTF-8">
    <title>bys</title>
    <link href="{{ short_url }}" rel="canonical" />
    <meta property="og:image" content="https://thiscatdoesnotexist.com/"/>
    <meta property="og:url" content="{{ short_url }}" />
</head>
<body>
<div>
    <a href="{{ url }}" rel="noopener noreferrer nofollow">{{ url }}</a>
    <script>
      window.location = "{{ url }}";
    </script>
</div>
</body>
</html>