<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="UTF-8">
    <title>bys</title>
    <link href="{{ short_url }}" rel="canonical" />
    <meta property="og:image" content="https://thiscatdoesnotexist.com/"/>
    <meta property="og:title" content="This cat doesnt exist" />
    <meta property="og:description" content="This cat doesnt exist" />
    <meta property="og:url" content="{{ short_url }}" />
    <meta http-equiv="Refresh" content="0; url={{ url }}"/>
</head>
<body>
<div>
    <a href="{{ url }}" rel="noopener noreferrer nofollow">{{ url }}</a>
</div>
</body>
</html>