

.container {
    margin: auto;
    width: 50%;
}

.url-input {
    width: 70%;
}

.content {
    border-top: 1px solid #ddd;
}

@media (max-width: 600px) {
    .container {
      width: 90%;
    }
    .url-input {
        width: 100%;
    }
  }

.pure-form button[type=submit] {
    margin: 0;
}