<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>bys</title>

    <link rel="stylesheet" href="/static/style.css"/>
</head>
<body>
<main class="container">
    <h1>BYS: url shortener </h1>
    <h3>with nonexistent cats</h3>
    <div class="content">
        {% if short_url %}
            <p>Short url: <a class="link" target="_blank" href="{{ short_url }}">{{ short_url }}</a>
                <button class="button">Copy</button>
            </p>
            <p>for <a class="link" target="_blank" href="{{ form.url.data }}">{{ form.url.data }}</a></p>
        {% else %}
            <form class="url-form" method="post" action="/">
                {{ form.csrf_token }}
                {{ form.url(
                            placeholder="https://exmaple.com",
                            pattern="https?://.*",
                            class="url-input"
                            ) }}
                <button type="submit" class="button submit-button">
                    Create short url
                </button>
            </form>
        {% endif %}
    </div>
</main>
</body>
</html>
